<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<th:block th:include="~{/fragments/header}"></th:block>
<th:block th:include="~{/fragments/side-nav}"></th:block>

<!--site-main-->
<main class="index-main">
    <p class="header-title index-title">JOIN US TO WATCH YOUR FAVOURITE ANIMES FOR FREE!</p>
    <a class="join-link" th:href="@{/users/register}"><h2>JOIN US</h2></a>
</main>

<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>