<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>

</head>

<body>
<th:block th:include="~{/fragments/header}"></th:block>
<th:block th:include="~{/fragments/side-nav}"></th:block>


<main class='season-page-main'>
    <section th:object="${season}" class="anime-info-container anime-details">
        <div class="anime-img-container img-container">
            <img th:src="*{anime.imageThumbnailUrl}" class="anime-img-thumbnail"/>
        </div>

        <div class="anime-description">
            <h3 th:text="|${season.anime.name} Season: ${season.number}|"></h3>
            <p th:text="${season.anime.summary}"></p>
        </div>

        <div class="anime-genres">
            <h3>Genres</h3>
            <p th:text="${genres}"></p>
        </div>

        <section class="more-details">
            <div>
                <h3>Release Date</h3>
                <p th:text="${season.anime.releaseDate}"></p>
            </div>

            <div>
                <h3>Status</h3>
                <p th:unless="${season.isCompleted}" th:text="|On going|"></p>
                <p th:if="${season.isCompleted}" th:text="Completed"></p>
            </div>

            <!--            TODO the duration!-->
            <div>
                <h3>Duration</h3>
                <p>25 min. per ep.</p>
            </div>
        </section>
    </section>

    <section class="anime-episodes">
        <th:block th:each="episode : ${season.episodes}">
            <a th:href="@{/episodes/{seasonId}(seasonId = ${season.id}, number=${episode.number})}"
               class="episode-container">
                <p th:text="|Episode ${episode.number}|"></p>
            </a>
        </th:block>

    </section>

    <div sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_ROOT_ADMIN')" class="button-container">
        <a th:unless="${season.isCompleted()}" class="small-input-field" th:href="@{/episodes/add/{seasonId}(seasonId = *{id})}">Add Episode</a>

        <a th:unless="${season.isCompleted()}" class="small-input-field" th:href="@{/seasons/complete/{seasonId}(seasonId = *{id})}">Complete</a>

        <form th:unless="*{anime.seasons.size() <= 1 || season.number == 1}"
              sec:authorize="hasAnyRole('ROLE_ROOT_ADNIM', 'ROLE_ADMIN')"
              th:action="@{/seasons/delete/(seasonId = *{id})}" method="POST">
            <input class="small-input-field" type="submit" value="Delete" id="delete" style="width: 8em">
        </form>
    </div>
</main>

<th:block th:include="~{/fragments/footer}"></th:block>
</body>
</html>